@import './colors.scss';

$navbar-background-color: $color-black;
$navbar-height: 1.8rem;

$control-radius: 0 !default;
$input-radius: 0;
$input-shadow: 0 !default;

$section-padding: 1.75rem 0rem;
$footer-background-color: none;

$family-primary: 'Open Sans', sans-serif;
// $input-focus-box-shadow-size: none;
// $input-focus-box-shadow-color: none;

@import 'bulma/bulma';

.input .button { border-radius: 0 !important }

.title {
  font-family: 'Raleway';
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
}
